<h3>Uso de directiva ngSwitch</h3>
<h2 style="color: green">Colores</h2>
<h3>Selector de colores:</h3>
<button (click)="alertColor()">Motrar Color</button>
<input type="text" [(ngModel)]="colorSeleccionado">
<pre [style.border]="colorSeleccionado == 'red' ? '5px solid purple': '5px solid black'">
    <strong>Color elegido: {{colorSeleccionado}}</strong>
</pre>
<div [ngStyle]="{'background':colorSeleccionado, 'width': '200px', 'height':'200px', 'float':'right', 'margin-right': '70%'}">
</div>
<div style="clear: both;"></div>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color': 'white', 'padding':'20px'}">Es de color ROJO</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color': 'white', 'padding':'20px'}">Es de color VERDE
    </li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color': 'white', 'padding':'20px'}">Es de color AZUL
    </li>
</ul>
<hr>
<h2 style="color: blue">{{componente_empleado}}</h2>
<h3>Uso de directiva ngIf</h3>
<div *ngIf="trabajadorExterno == true">
    <button (click)="cambiarExterno(false)">Motrar Empleado</button>
    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <li *ngIf="trabajadores[0].contratado == true">Está Contratado</li>
        <li *ngIf="trabajadores[0].contratado == false">No está Contratado</li>
    </ul>
</div>

<div *ngIf="trabajadorExterno == false">
    <button (click)="cambiarExterno(true)">Motrar Trabajador</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado == true">Está Contratado</li>
        <li *ngIf="empleado.contratado == false">No está Contratado</li>
    </ul>
</div>
<hr>
<h3>Uso de directiva ngFor</h3>
<ul>
    <li *ngFor="let item of trabajadores; let i = index">
        <strong>Empleado: {{i+1}}</strong>
        <ul>
            <li>{{item.nombre}}</li>
            <li>{{item.edad}}</li>
            <li>{{item.cargo}}</li>
            <li *ngIf="item.contratado == true">Está Contratado</li>
            <li *ngIf="item.contratado == false">No está Contratado</li>
        </ul>
    </li>
</ul>