.fondoAzul {
    background: lightblue !important;
}

.fondoVerde {
    background: lightgreen !important;
}

.activado {
    font-weight: bold;
    background: limegreen;
    padding: 3px;
    border-radius: 5px;
    color: white;
}